<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/success.css" />
  </head>
  <body>
    <h1>Payment Successful</h1>
    <div id="thankyou"></div>
    <div class="gotocart"><div class="cartbutton">gotocart</div></div>
  </body>
  <script src="../js/success.js"></script>
</html>
